# Configuration file

general {
    # A list of structures that should not spawn unless a specific phase has been reached
    # Format: structure_name:phase | Example: yelloweye_building:4 [default: ]
    S:"Structure Gating List" <
     >
}


